<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="title" (ionInput)="getMedias();" placeholder="Recherche"></ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <span id="nbOfResult">
      <p *ngIf="medias.length > 0">Nombre de résultats : {{ nbOfResult }}</p>
    </span>
    <ion-card *ngFor="let film of medias">
      <ion-card-content (click)="filmsDetails(film);">
        <img src="{{ film.Poster }}" alt="{{ film.Title }}">
        <div class="content">
          <div class="info">
            <h2>{{ film.Title }}</h2>
            <p>({{ film.Year }})</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="ios"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>



