<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="title" (ionInput)="getMedias();" placeholder="Recherche"></ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <span id="nbOfResult">
      <p *ngIf="medias.length > 0">Nombre de résultats : {{ nbOfResult }}</p>
    </span>
    <ion-card *ngFor="let serie of medias">
      <ion-card-content (click)="seriesDetails(serie);">
        <img src="{{ serie.Poster }}" alt="{{ serie.Title }}">
        <div class="content">
          <div class="info">
            <h2>{{ serie.Title }}</h2>
            <p>({{ serie.Year }})</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="ios" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
