page-episode-details {
  .content {
    h2 {
      font-size: 1.4em;
      text-align: center;
      span {
        font-style: italic;
        font-size: .8em;
      }
    }

    .details {
      margin-top: 10px;

      p {
        padding: 0 20px 0 20px;
      }

      .title {
        font-size: 1.1em;
        color: #000;
      }

      .plot {
        color: #000;
      }

      .details {
        color: #005ea8;
      }

      .rated {
        p {
          padding-left: 40px;
        }
        span {
          color: #005ea8;
        }
      }
    }
  }

}
