page-favories {
  .favorite {
    position: relative;
    ion-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      cursor: pointer;
    }
  }
}
