page-favories {
  ion-navbar {
    position: relative;
    .select-icon, .item-cover {
      display: none;
    }

    .left-right {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      position: absolute;
      width: 10px;
      height: 30px;
      margin-right: 20px;
    }

    ion-select {
      position: absolute;
      width: 5px;
      height: 100%;
      cursor: pointer;
    }

    ion-icon {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 30px;
    }
  }

  .favorite {
    position: relative;
    ion-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      cursor: pointer;
    }
  }
}
