page-serie-seasons {
  .content {
    h2 {
      font-size: 1.4em;
      text-align: center;
      span {
        font-style: italic;
        font-size: .8em;
      }
    }

    .poster, .details {
      width: 100%;
    }

    .details {
      margin-top: 10px;

      p {
        padding: 0 20px 0 20px;
        color: grey;
      }

      span {
        color: #005ea8;
      }
      
      .title {
        font-size: 1.1em;
        color: #000;
      }

      .plot {
        color: #000;
      }

      ion-list {
        ion-item {
          width: 80%;
          color: #005ea8;
          padding: 0;
        }
        .label {
          font-size: .9em;
        }
      }
    }
  }
}
